html {
  min-height: 600px;
  height: 99%;
}

body {
  height: 85%;
  padding-top: 60px;
  padding-bottom: 40px;
}
.sidebar-nav {
  padding: 9px 0;
}

#map_canvas {
  height: 100%;
}

.row-fluid {
  height: 100%;
}

.container-fluid {
  height: 100%;
}

#map_canvas label {width: auto;}

#map_canvas img {
    max-width: none;
}

#info p {
  font-size: 1.2em;
}

#info span {
  font-size: 1.5em;
}

.navbar .nav .open > .dropdown-toggle, .navbar .nav .active > .dropdown-toggle, .navbar .nav .open.active > .dropdown-toggle {
	background-color: hsl(208, 100%, 40%);
}

.nav > .btn-group {
	float: right;
}

#info-supernodo {
	margin-top: 3em;
}

#info-supernodo li.thumbnail {
	background: white;
}

#info-supernodo img {
	width: 240px;
}

#info-supernodo h2 {
	font-size: 1.6em;
}

.modal {
	height: 570px; min-height: 570px;
}

footer {
	margin: .2em 1em;
}

footer a {
	border-top: 1px solid #888;
	padding: 1em;
}

#search {
	margin-right: 2em;
}
