#map_canvas {
  height: 600px;
}

#map_canvas label {width: auto;}

#map_canvas img {
    max-width: none;
}

.graph img {
  width: 300px;
}

#info p {
  font-size: 1.4em;
}
#info span {
  font-size: 1.5em;
}
