<div class="modal viewenlace">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h2 class="name"><%= name %></h2>
  </div>
  <div class="modal-body">
    <p>Distancia: <strong><%= distance %> Km.</strong></p>
    <% if (rrdtool_bandwidth_graph_id && rrdtool_traffic_graph_id) { %>
    <ul class="thumbnails">
      <li><img src="/cacti/graph_image.php?local_graph_id=<%= rrdtool_bandwidth_graph_id %>" /></li>
      <li><img src="/cacti/graph_image.php?local_graph_id=<%= rrdtool_traffic_graph_id %>"</li>
    </ul>
    <% } %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-close">Tancar</a>
    <a href="#edit/enlace/<%= _id %>" class="btn btn-primary">Editar</a>
    <a href="#delete/enlace/<%= _id %>" class="btn btn-danger delete-enlace">Esborrar</a>
  </div>
</div>
