extends layout
block main
  div.row(style="margin: 3em auto; width: 800px;", ng-show="supernodo")
    h2(style="border-bottom: 2px solid #888; margin-bottom: .2em;", ng-bind="title") Supernodo
    if (locals.user)
      div.pull-right(style="margin-bottom: 1em;")
        button.btn.btn-info(ng-click="openAddEnlace()", style="margin-right: .5em;") Enlazar con otro supernodo
        button.btn.btn-danger(ng-click="openRemoveSupernodo()") Remove supernodo

    div.row(style="clear: both;", ng-show="supernodo")
      div.span4.pull-right
        google-map(center="center", markers="markers", links="links")

      div.span4
        form.form-horizontal(ng-submit="saveSupernodo()")
          table.table.table-striped(ng-show="supernodo")
            tbody
              tr
                td
                  strong Name
                td
                  input(type="text", ng-model="supernodo.name")
              tr
                td
                  strong IP
                td
                  input(type="text", ng-model="supernodo.mainip")
              tr
                td
                  strong Latitude
                td
                  input(type="text", ng-model="supernodo.latlng.lat")
              tr
                td
                  strong Longitude
                td
                  input(type="text", ng-model="supernodo.latlng.lng")
              if (locals.user)
                tr
                  td
                  td
                    button.btn(type="submit", style="margin-right: 1em;") Save
                    span.label.label-success(ng-cloak, ng-show="messageOk") Changes saved!

      table.table.table-striped
        thead
          tr
            th Enlaces establecidos desde este supernodo
        tbody
          tr(ng-repeat="s in supernodos")
            td
              strong
                a(ng-href="/enlace/#/{{ supernodo.name }}/{{ s.name }}") {{ supernodo.name }} - {{ s.name }}
            td
              strong {{ s.mainip }}

  div(modal="isOpenAddEnlace", close="closeAddEnlace()")
    div.modal-header
      h4 Add a new link to this supernode
    div.modal-body(style="height: 6em;")
        p Select the supernode to link to
        input.bigdrop.newlink.span2(type="hidden")
    div.modal-footer
      button.btn.btn-success.cancel(ng-click="addEnlace()") Add
      button.btn(ng-click="closeAddEnlace()") Cancel

  div(modal="isOpenRemoveSupernodo", close="closeRemoveSupernodo()")
    div.modal-header
      h4 Remove supernode
    div.modal-body Are you sure you want to to this?
    div.modal-footer
      button.btn.btn-danger.cancel(ng-click="removeSupernodo()") Yes, do it
      button.btn(ng-click="closeRemoveSupernodo()") Cancel
