<div class="box splash">
    <a class="close">&times;</a>
    <h2>
        Bienvenido
    </h2>
    <p style="font-size: 1.2em; padding: .5em;">
        Averigua cuál es el camino y velocidad que obtendrás al comunicarte de
        un supernodo a otro de la troncal. Pulsa sobre otro supernodo para averiguar
        cuál es el camino que seguirá tu tráfico.
    </p>
    <h2>
        Últimos cambios
    </h2>
    <ul>
        <li>
            Control de errores ante los fallos del traceroute
        </li>
        <li>
            Mejorada la visualización de gráficas al pasar por encima del enlace.
        </li>
        <li>
            Añadida a la monitorización el enlace 2maig-espaitec.
        </li>
    </ul>
    <p style="float: right;">
        <a href="#" class="btn btn-primary btn-close">Aceptar</a>
    </p>
    <br style="clear: both;" />
</div>