<div class="modal editenlace">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h2 class="name">Editar enlace <%= name %></h2>
  </div>
  <div class="modal-body">

	<div class="alert alert-error">
  	<strong>Cuidado!</strong> Esta es una operacion delicada.
	</div>

          <div class="control-group">
            <label class="control-label" for="editEnlaceBandwidthGraph">Archivo RRDTool de la grafica de ancho de banda:</label>
            <div class="controls">
		    <input class="span4" type="text" id="editEnlaceBandwidthGraph" value="<%= rrdtool_bandwidth_graph_id %>" />
	    </div>
            <label class="control-label" for="editEnlaceTrafficGraph">Archivo RRDTool de la grafica de trafico:</label>
            <div class="controls">
		    <input class="span4" type="text" id="editEnlaceTrafficGraph" value="<%= rrdtool_traffic_graph_id %>" />
	    </div>
            <label class="control-label" for="editEnlaceBandwidth">Archivo RRDTool de ancho de banda:</label>
            <div class="controls">
		    <input class="span4" type="text" id="editEnlaceBandwidth" value="<%= rrdtool_bandwidth_id %>" />
	    </div>
            <label class="control-label" for="editEnlaceTraffic">Archivo RRDTool de trafico:</label>
            <div class="controls">
		    <input class="span4" type="text" id="editEnlaceTraffic" value="<%= rrdtool_traffic_id %>" />
	    </div>
          </div>

  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-close">Tancar</a>
    <a href="#" class="btn btn-danger save-enlace">Guardar</a>
  </div>
</div>
