<div class="well">
    <a class="close">&times;</a>
    <h2><%= name %></h2>
    <p>Distancia: <strong><%= distance %> Km.</strong></p>
    <ul class="thumbnails">
      <li><img src="/cacti/graph_image.php?local_graph_id=<%= bandwidth_graph_id %>" /></li>
      <li><img src="/cacti/graph_image.php?local_graph_id=<%= traffic_graph_id %>"</li>
    </ul>
    <p><input class="btn btn-info link-info" value="Ver mas informacion de este enlace" />
    <p><input class="btn btn-danger help-info" value="Quiero ayudar a mejorar este enlace" />
</div>
