<div class="modal editsupernodo">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h2 class="name"><%= name %></h2>
  </div>
  <div class="modal-body">
      <div class="control-group">
        <label class="control-label" for="editSupernodoName">Nombre del supernodo:</label>
        <div class="controls">
	    <input class="span4" type="text" id="editSupernodoName" value="<%= name %>" />
        </div>
        <label class="control-label" for="editSupernodoIp">IP del supernodo:</label>
        <div class="controls">
	    <input class="span4" type="text" id="editSupernodoIp" value="<%= ip %>" />
        </div>
      </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-close">Tancar</a>
    <a href="#" class="btn btn-primary save-supernodo">Guardar</a>
  </div>
</div>
