<div class="modal help">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h2 class="name">Mejorar el enlace</h2>
  </div>
  <div class="modal-body">
    <p>Apuntate a la lista de gente interesada en mejorar el enlace <strong><%= name %></strong>, en cuanto seamos suficientes nos ponemos manos a la obra.</p>

          <div class="control-group">
            <label class="control-label" for="appendedPrependedInput">Tu direccion de e-mail:</label>
            <div class="controls">
		    <input class="span4" type="text" />
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="optionsCheckboxList">Colaboraria de la siguiente manera:</label>
            <div class="controls">
              <label class="checkbox">
                <input type="checkbox" name="optionsCheckboxList1" value="option1">
                Pondria pasta
              </label>
              <label class="checkbox">
                <input type="checkbox" name="optionsCheckboxList2" value="option2">
                Me apunto a hacer cualquier montaje
              </label>
              <label class="checkbox">
                <input type="checkbox" name="optionsCheckboxList3" value="option3">
                Apoyo moral desde mi casa
              </label>
            </div>
          </div>

  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-close">Cancelar</a>
    <a href="#" class="btn btn-primary">Enviar</a>
  </div>
</div>
