<div class="modal editenlace">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h2 class="name">Nuevo enlace</h2>
  </div>
  <div class="modal-body">

          <div class="control-group">
            <label class="control-label">Establece los supernodos del enlace:</label>
	    <div class="btn-group">
  		<button class="btn">Supernodo origen</button>
  		<button class="btn dropdown-toggle" data-toggle="dropdown">
    		<span class="caret"></span>
  		</button>
  		<ul class="dropdown-menu">
    		<!-- dropdown menu links -->
  		</ul>
	    </div>
	    <div class="btn-group">
  		<button class="btn">Supernodo destino</button>
  		<button class="btn dropdown-toggle" data-toggle="dropdown">
    		<span class="caret"></span>
  		</button>
		<ul class="dropdown-menu">
		  <% _.each(supernodos, function(supernodo) { %> <li><a><%= supernodo %></a></li> <% }); %>
  		</ul>
	    </div>
          </div>

  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-close">Tancar</a>
    <a href="#" class="btn btn-danger">Guardar</a>
  </div>
</div>
