<div class="modal newenlace">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h2 class="name">Nuevo enlace</h2>
  </div>
  <div class="modal-body">

          <div class="control-group">
            <label class="control-label">Indica los supernodos implicados en el enlace:</label>
            <select id="select01">
	      <% _.each(supernodos, function(supernodo) { %> <option value="<%= supernodo.id %>"><%= supernodo.name %></option> <% }); %>
            </select>
            <select id="select02">
	      <% _.each(supernodos, function(supernodo) { %> <option value="<%= supernodo.id %>"><%= supernodo.name %></option> <% }); %>
            </select>
          </div>

  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-close">Tancar</a>
    <a href="#" class="btn btn-danger save-enlace">Guardar</a>
  </div>
</div>
